.header {
	padding: 1px;
	text-align: center;
	background:hotpink;
	color: white;
	font-size: 30px;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .Hola {
	padding: 20px;
	text-align: justify;
	background:wheat;
	color:black;
	font-size: 25px;
	font-family: monospace;
  }
  .B {
	padding: 20px;
	text-align: justify;
	background:wheat;
	color:black;
	font-size: 25px;
	font-family: monospace;
  }